@media (max-width: 992px) {
    nav .collapse ul li{
        border-width: 0px!important;
    }
    .greeting {
        margin-bottom: 0;
    }
}

@media (min-width: 768px) {
    .whoAmI .col-lg-7 {
        padding: 50px;
    }
}

@media (max-width: 500px){
    .navbar-brand {
        font-size: 17px;
    }
    .greeting {
        margin-bottom: 0;
    }

}

@media (max-width: 768px){
    
    .contact span {
        border-width: 0px!important;
        font-size: 20px!important;
    }
    .contact .card-text{
        margin-top: 0!important;
        margin-bottom: 20px!important;
        padding: 0!important;
        font-size: 20px!important;
    }

    .portfolio .col-12 {
        margin-bottom: 15px;
    }

    .whoAmI .card-text {
        font-size: 14px!important;
    }

    .whoAmI .card-title {
        margin-top: 0!important;
        padding-top: 0!important;
    }
    .whoAmI .img-fluid {
        margin-bottom: 0!important;
        padding-bottom: 0!important;
    }
}