body {
    position: relative;
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box!important;
}


nav .collapse ul li a {
    color: rgb(56, 56, 56);
}

nav{
    position: fixed!important;
    width: 100%;
    top: 26px;
    z-index: 1;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.1);
}

.topbar {
    height: 26px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    /* border: 2px solid black ; */
    background-color: #ebeded;
}

/* nav .fa, .fa-solid {
    color: #0d6efd;
} */

main {
    width: 100%;
    min-height: 600px;
    padding-top: 120px;
}

.greeting {
    text-align: center;
    margin: 140px auto;
    padding-bottom: 70px;
}

.greeting .fa-smile {
    font-size: 60px;
    color: #f2cc5a;
}

.whoAmI .card {
    border-width: 0;
}

.portfolio img {
    width: 100%;
    height: auto;
}

.portfolio .col-4 {
    transition: .5s;
}

.portfolio .col-4:hover {
    /* top: -10px; */
    transform: translateY(-6px);
}

.contact img {
    width: 100%;
    height: auto;
}


